{% extends 'base.html' %} 

{% block content %}

<h1>Brewery Details</h1>

<div class="card">
  <div class="card-content">
        <span class="card-title"> {{ brewery.name }} </span>
        <p>Address: {{ brewery.address }}</p>
        <p>Description: {{ brewery.description }}</p>
        <p>Top Tap: {{ brewery.toptap }}</p>
        <p>Established: {{ brewery.established }}</p>

        {% if brewer.established > 2020 %}
        <p>New Breweries: {{ brewery.established }}</p>
        {% else %}
        <p>Established: {{ brewery.established }}</p>
        {% endif %}

      </div>

      <div class="card-action">
        <a href="{% url 'breweries_update' brewery.id %}">Edit</a>
        <a href="{% url 'breweries_delete' brewery.id %}">Delete</a>
      </div>

<div>
  <form method="post" action="{% url 'add_specialbrew' brewery.id %}">
    {% csrf_token %} 
    {{ specialbrew_form.as_p }}
    <input type="submit" value="Add Special Brew" class="btn">
  </form>

  {% if brewery.specialbrew_ready %}
    <div class="card-panel teal-text center-align"> {{ brewery.name }} has some special brews ready.</div>
  {% else %}
    <div class="card-panel red-text center-align"> {{ brewery.name }} is currently brewering some special brews. Watch this space!</div>
  {% endif %}
  <table class="striped">
    <thead>
      <tr> Name </tr>
      <tr> Description </tr>
      <tr> Date Brewed </tr>
      <tr> Variety </tr>
    </thead>

    <tbody>
      {% for specialbrew in brewery.specialbrew_set.all %}
      <tr>
        <td> {{ specialbrew.name }} </td>
        <td> {{ specialbrew.description }} </td>
        <td> {{ specialbrew.date }} </td>
        <td> {{ specialbrew.get_variety_display }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


      </div>

  <script>
    let dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
      format:'yyyy-mm-dd',
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true
    })

    let selectEl = document.getElementById('id_variety')
    M.FormSelect.init(selectEl);
  </script>


{% endblock %}