{% extends 'base.html' %} 

{% block content %}

<h1>Brewery Details</h1>

<div class="card">
  <div class="card-content">
    <div class="flex-container">
        <span class="card-title"> {{ brewery.name }} </span>
        <p>Address: {{ brewery.address }}</p>
        <p>Description: {{ brewery.description }}</p>
        <p>Top Tap: {{ brewery.toptap }}</p>
        <p>Established: {{ brewery.established }}</p>

        {% if brewer.established > 2020 %}
        <p>New Breweries: {{ brewery.established }}</p>
        {% else %}
        <p>Established: {{ brewery.established }}</p>
        {% endif %}
      </div>

      <div class="card-action">
        <a href="{% url 'breweries_update' brewery.id %}">Edit</a>
        <a href="{% url 'breweries_delete' brewery.id %}">Delete</a>
      </div>

<div>
  <table class="striped">
    <thead>
      <tr></tr>
    </thead>
  </table>
</div>
      </div>



{% endblock %}

