{% extends 'base.html' %} 

{% block content %}

<h1>Brewery Details</h1>



<div class="card">
  <div class="card-content">
    <div class="flex-container">
      <div>
        <span class="card-title"> {{ brewery.name }} </span>
        <p>Address: {{ brewery.address }}</p>
        <p>Description: {{ brewery.description }}</p>
        <p>Top Tap: {{ brewery.toptap }}</p>
        <p>Established: {{ brewery.established }}</p>

        {% if brewer.established > 2020 %}
        <p>New Breweries: {{ brewery.established }}</p>
        {% else %}
        <p>Established: {{ brewery.established }}</p>
        {% endif %}
      </div>

      <div class="right">
        {% load static %} <img width="150px" height="150px" src={% static brewery.image|cut:'main_app/static/' %} />
      </div>
    </div>

</div>
</div>


{% endblock %}

